<script>
  import '../app.css'
</script>
<header>
  <h1>
      <img
              alt="Beers Boss logo"
              height="55"
              width="55"
              src="https://beersboss.com/assets/beerCanIcon.png"
      />Beers Boss
  </h1>
</header>

<main>
  <slot />
</main>

<style>
  header {
      text-align: center;
      padding: 1em;
      max-width: 240px;
      margin: 0 auto;
  }

  main {
      width: 650px;
      margin: auto;
  }

  h1 {
      color: #e49337;
      font-size: 5em;
      font-weight: 300;
  }

  @media (min-width: 640px) {
      header {
          max-width: none;
      }
  }
</style>
