<script lang="ts">
  import AppStoreSvg from '$lib/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg';
  </script>
  
  <div style="display: flex; justify-content: center;">
      <a href="https://apps.apple.com/uy/app/beers-boss/id1568814733">
        <img src={AppStoreSvg} alt="Download Beers Boss from the App Store" height=75/>
      </a>
  </div>
  
  
  