<div>
  <p>
    Beers Boss does not collect, save, or access any personal data while it is
    being used.
  </p>
  <p>
    You will be asked for access to your camera, but this is only so UPC codes
    can be scanned and used to look up the relavant beer data to display. The
    image data is immediately discarded.
  </p>
  <p>
    When a beer is not in our database, the user can agree to submit the UPC
    code to us from within the app. This submission will include the device ID
    as well as the UPC code and other details as entered.
  </p>
</div>
