
<script>
import Icon from 'svelte-awesome';
import gitlab from 'svelte-awesome/icons/gitlab';
</script>

<div id="appstore">
  <p>What company really makes your beer?</p>
  <p>Scan a beer's UPC and find out who owns it.</p>
  <div>
    <a href="https://gitlab.com/mallocs/BeersBoss/-/issues">
      <Icon
        scale={1.3}
        style="vertical-align: text-bottom; color: #E2432A;"
        data={gitlab}
      /> Submit a bug report to fix an issue</a
    > or 
    <a href="https://gitlab.com/mallocs/BeersBossWeb/-/issues"
      >missing/inaccurate data</a
    >
  </div>
</div>

<style>
  #appstore {
    text-align: center;
  }
</style>
